/* NOTE: sea.cssの仕様でimgはデフォルトでレスポンシブ対応になっているため、imgのリセットがしたい場合個別対応が必要になってしまう。 */
.row-sponsored-link img{
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  max-width: 100%;
  width: initial;
  height: auto;
}

.article h1 {
	font-weight: bold;
	margin-top: 1.5em;
}

.article h2 {
	font-weight: bold;
	margin-top: 1.5em;
}

.article h3 {
	font-weight: bold;
	margin-top: 1.5em;
}

.article h4 {
	font-weight: bold;
	margin-top: 1.5em;
}

.article h5 {
	font-weight: bold;
	margin-top: 1.5em;
}

.article h6 {
	font-weight: bold;
	margin-top: 1.5em;
}

.col-toc ul {
	list-style-type: decimal;
}